body {
    background: rgb(250, 241, 189);
}

.wrapper {
    padding-top: 50px;
}
.container {
    margin-left: 240px;
    margin-right: 240px;
}

.row-1 {
    display: flex;
}

.row-2 {
    display: flex;
}

.row-3 {
    display: flex;
}


.box {
    display: flex;
    box-sizing: border-box;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
}

.xd {
    font-size: 25px; display: flex; align-items: center;
    
}

.hel {
    margin-left: auto;
}

.boron {
    margin-left:auto;
}

.aluminium {
    margin-left: auto;
}

.titanium {
    margin-left: auto;
}

.row-5 {
    display: flex;
}
.zirconium {
    margin-left: auto;
}
.row-4 {
    display: flex;
}

.row-6 {
    display: flex;
}

.hafnium {
    margin-left: auto;
}

.tran-metal {
    background: rgb(186, 139, 240);
}

.gases {
    background: rgb(247, 200, 208);
}

.nonmetal {
    background: rgb(192, 192, 255);
}

.alkali {
    background: rgb(153, 250, 234);
}

.alka-earth {
    background: rgb(248, 107, 107);
}

.metalloid {
    background: rgb(245, 245, 105);
}

.post-tran-metal {
    background: rgb(135, 253, 185);
}

.lantha {
    background: rgb(201, 248, 242);
}

