body {
    background: rgb(250, 241, 189);
}

.container {
    margin-left: 200px;
    margin-right: 200px;
}

.row-1 {
    display: flex;
}

.row-2 {
    display: flex;
}

.row-3 {
    display: flex;
}

.box {
    box-sizing: border-box;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 5px;
    margin: 2px;
}

.hel {
    margin-left: auto;
}

.boron {
    margin-left:auto;
}

.aluminium {
    margin-left: auto;
}

.titanium {
    margin-left: auto;
}

.row-4 {
    display: flex;
}

.tran-metal {
    background: rgb(186, 139, 240);
}

.gases {
    background: rgb(247, 200, 208);
}

.nonmetal {
    background: rgb(192, 192, 255);
}

.alkali {
    background: rgb(153, 250, 234);
}

.alka-earth {
    background: rgb(248, 107, 107);
}

.metalloid {
    background: rgb(245, 245, 105);
}

.post-tran-metal {
    background: rgb(135, 253, 185);
}